<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.lingcloud.foundation.generate.mapper.GenerateEntityMapper">

    <insert id="insertRow">
        INSERT INTO foundation_generate_entity_row (id, `index`, entity_id)
        VALUES (#{id}, #{index}, #{entityId})
    </insert>
    <delete id="deleteRow">
        DELETE FROM foundation_generate_entity_row WHERE id = #{rowId}
    </delete>
    <delete id="deleteRowByEntityId">
        DELETE FROM foundation_generate_entity_row WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteColumn">
        DELETE FROM foundation_generate_entity_column WHERE id = #{columnId}
    </delete>
    <delete id="deleteColumnByEntityId">
        DELETE FROM foundation_generate_entity_column WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteValue">
        DELETE FROM foundation_generate_entity_value WHERE id = #{valueId}
    </delete>
    <delete id="deleteValueByEntityId">
        DELETE FROM foundation_generate_entity_value WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteValueByRowId">
        DELETE FROM foundation_generate_entity_value WHERE entity_row_id = #{rowId}
    </delete>
    <delete id="deleteValueByColumnId">
        DELETE FROM foundation_generate_entity_value WHERE entity_column_id = #{columnId}
    </delete>

</mapper>
