<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.lingcloud.foundation.generate.mapper.GenerateEntityMapper">

    <insert id="insertRow" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO foundation_generate_entity_row (`index`, entity_id)
        VALUES (#{index}, #{entityId})
    </insert>
    <insert id="insertColumn" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO foundation_generate_entity_column (column_name,
        <if test="orderNo != null">order_no,</if>
        <if test="isRequired != null">is_required,</if>
        entity_id)
        VALUES (#{columnName},
        <if test="orderNo != null">#{orderNo},</if>
        <if test="isRequired != null">#{isRequired},</if>
        #{entityId})
    </insert>
    <insert id="insertValue" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO foundation_generate_entity_value (entity_id, column_id, row_id, value)
        VALUES (#{entityId}, #{columnId}, #{rowId}, #{value})
    </insert>
    <delete id="deleteRow">
        DELETE
        FROM foundation_generate_entity_row
        WHERE id = #{rowId}
    </delete>
    <delete id="deleteRowByEntityId">
        DELETE
        FROM foundation_generate_entity_row
        WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteColumn">
        DELETE
        FROM foundation_generate_entity_column
        WHERE id = #{columnId}
    </delete>
    <delete id="deleteColumnByEntityId">
        DELETE
        FROM foundation_generate_entity_column
        WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteValue">
        DELETE
        FROM foundation_generate_entity_value
        WHERE id = #{valueId}
    </delete>
    <delete id="deleteValueByEntityId">
        DELETE
        FROM foundation_generate_entity_value
        WHERE entity_id = #{entityId}
    </delete>
    <delete id="deleteValueByRowId">
        DELETE
        FROM foundation_generate_entity_value
        WHERE row_id = #{rowId}
    </delete>

    <delete id="deleteValueByColumnId">
        DELETE
        FROM foundation_generate_entity_value
        WHERE column_id = #{columnId}
    </delete>

    <select id="listRowByEntityId"
            resultType="com.ling.lingcloud.foundation.api.generate.vo.generateentity.FoundationGenerateEntityRowVO">
        SELECT id, entity_id, `index`
        FROM foundation_generate_entity_row
        WHERE entity_id = #{entityId}
    </select>

    <select id="listColumnByEntityId"
            resultType="com.ling.lingcloud.foundation.api.generate.vo.generateentity.FoundationGenerateEntityColumnVO">
        SELECT id, entity_id, column_name, `order_no`, is_required
        FROM foundation_generate_entity_column
        WHERE entity_id = #{entityId}
    </select>

    <select id="listValueByEntityId"
            resultType="com.ling.lingcloud.foundation.api.generate.vo.generateentity.FoundationGenerateEntityValueVO">
        SELECT id, entity_id, column_id, row_id, value
        FROM foundation_generate_entity_value
        WHERE entity_id = #{entityId}
    </select>

</mapper>
